[data-loading="true"] {
    visibility: hidden;
}

.header__right__docs {
    padding-left: 75px;
}

.header__slider {
    box-shadow: 0 0 70px 0 rgba(0, 0, 0, 0.2);
    height: 390px;
}

.slider-item {
    width: 100%;
}

.rec-slider-container {
    margin: 0 !important;
}

.section-info__banner {
    z-index: 1;
}